.cesium-container
  height 100vh
  margin 0
  overflow: hidden
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

:global
  .cesium-viewer-cesiumInspectorContainer
    bottom: 25px
    top: auto


:global
  div.navigation-control[title="Reset View"]
    display none

  div.distance-legend
    border-radius 0px
    bottom 0
    right 0

  .cesium-credit-logoContainer
    display: none !important